/*---------------------
        FORM
----------------------*/

.form-section {
  margin: 100px 0;
}

.form {
  margin: 50px 200px;
}

.form-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #48a9a6;
}

.form-button {
  text-align: center;
}

.form-section p {
  text-align: center;
}

.form-logo {
  height: 250px;
  width: 250px;
  margin-bottom: 50px;
}

/*---------------------
      MEDIA QUERIES
----------------------*/

@media screen and (max-width: 1000px) {
  .form {
    margin: 50px 100px;
  }
}

@media (max-width: 650px) {
  .form {
    margin: 50px 10px;
  }
}
