/*---------------------
        FOOTER
----------------------*/

.footer {
  background-color: #4e5d74;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  flex-shrink: 0;
  padding: 25px 0;
}
